<!DOCTYPE html>
<html lang="fr">
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
  	<meta charset="UTF-8">
  	<title>tp2 kevin</title>
</head>
<body>
  tp2!!
	    <h1>AJOUTER</h1>
	    <form action="/ajouter" method="POST">
	    <input type="text" placeholder="nom" name="nom">
	    <input type="text" placeholder="prenom" name="prenom">
	    <input type="text" placeholder="Telephone" name="telephone">
	    <input type="text" placeholder="ville" name="ville">
	    <input type="text" placeholder="groupeSanguin" name="groupeSanguin">
	    <button type="submit">Submit</button>
	  </form>

	  <h1>MODIFIER</h1>
	    <form action="/modifier" method="POST" id="formMod" >
	    <input type="text" class="nomMod" placeholder="nom" name="nom">
	    <input type="text" class="prenomMod" placeholder="prenom" name="prenom">
	    <input type="text" class="telephoneMod" placeholder="Telephone" name="telephone">
	    <input type="text" class="villeMod" placeholder="ville" name="ville">
	    <input type="text" class="groupeSanguinMod" placeholder="groupeSanguin" name="groupeSanguin">
	    <input type="text" class="idMod" placeholder="ID de l'objet qu'on modifie" name="objetQuonMod">
	    <button type="submit">Submit</button>
	  </form>


		<h1>DETRUIRE</h1>
	  <form action="/detruire" method="POST" id="formSupp">
	    <input type="text" class="idSupp" placeholder="ID de l'objet qu'on modifie" name="objetQuonDetruit">
	    <button type="submit">Submit</button>
	  </form>

	  <a href="/trier">Triage selon ville</a>

  <ul class="adresse">
  <% for(var i=0; i<adresse.length; i++) {%>
   
    <table>
    	<tr>
	      <td contenteditable="true"><%= adresse[i].nom %></td>
	      <td contenteditable="true"><%= adresse[i].prenom %></td>
	      <td contenteditable="true"><%= adresse[i].telephone %></td>
	      <td contenteditable="true"><%= adresse[i].ville %></td>
	      <td contenteditable="true"><%= adresse[i].groupeSanguin %></td>
	      <td><%= adresse[i]._id %></td>
	      <td><a class ="modifier" href="#">MODIFIER</a></td>
	      <td><a class ="supprimer" href="#">SUPPRIMER</a></td>
      	</tr>
    </table>
  
  <% } %>
  </ul>


</body>
<script src="coteClient.js"></script>
</html>