<!DOCTYPE html>
<html lang="fr">
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
  	<meta charset="UTF-8">
  	<title>TP2 VEILLE - KEVIN FILION-PHILLIPS</title>
</head>
<body>
  <h1>TRAVAIL PRATIQUE 2</h1>
  <!--FORMULAIRE D'AJOUT-->
	    <h2>AJOUTER</h2>
	    <form action="/ajouter" id="formAjout" method="POST">
	    <input type="text" placeholder="nom" name="nom">
	    <input type="text" placeholder="prenom" name="prenom">
	    <input type="text" placeholder="Telephone" name="telephone">
	    <input type="text" placeholder="ville" name="ville">
	    <input type="text" placeholder="groupeSanguin" name="groupeSanguin">
	    <button type="submit">Ajouter</button>
	  </form>

	  
 <!--BOUTON DE TRIAGE-->
	  <a href="/trier" class="triageClasse">Triage selon la ville</a>
 

 <!--LE TABLEAU ONTENANT LES ELMS DE LA BDD-->
  <ul class="adresse">
  <% for(var i=0; i<adresse.length; i++) {%>
   
    <table>
    	<tr>
	      <td contenteditable="true"><p><%= adresse[i].nom %></p></td> <!--CASE NOM (EDITABLE)-->
	      <td contenteditable="true"><p><%= adresse[i].prenom %></p></td> <!--CASE PRENOM (EDITABLE)-->
	      <td contenteditable="true"><p><%= adresse[i].telephone %></p></td> <!--CASE TELEPHONE (EDITABLE)-->
	      <td contenteditable="true"><p><%= adresse[i].ville %></p></td><!--CASE VILLE (EDITABLE)-->
	      <td contenteditable="true"><p><%= adresse[i].groupeSanguin %></p></td><!--GRP SANGUIN (EDITABLE)-->
	      <td class="caseID"><p><%= adresse[i]._id %></p></td><!--ID (NON-EDITABLE)-->
	      <td><a class ="modifier" href="#">MODIFIER</a></td><!--BTN MODIF-->
	      <td><a class ="supprimer" href="#">SUPPRIMER</a></td><!--BTN SUPP-->
      	</tr>
    </table>
  
  <% } %>
  </ul>

	<h2>MODIFIER</h2>
	    <form action="/modifier" method="POST" id="formMod" >
	    <input type="text" class="nomMod" placeholder="nom" name="nom">
	    <input type="text" class="prenomMod" placeholder="prenom" name="prenom">
	    <input type="text" class="telephoneMod" placeholder="Telephone" name="telephone">
	    <input type="text" class="villeMod" placeholder="ville" name="ville">
	    <input type="text" class="groupeSanguinMod" placeholder="groupeSanguin" name="groupeSanguin">
	    <input type="text" class="idMod" placeholder="ID de l'objet qu'on modifie" name="objetQuonMod">
	    <button type="submit">Modifier</button>
	  </form>


		<h2>DETRUIRE</h2>
	  <form action="/detruire" method="POST" id="formSupp">
	    <input type="text" class="idSupp" placeholder="ID de l'objet qu'on veux DÉTRUIRE" name="objetQuonDetruit">
	    <button type="submit">Supprimer</button>
	  </form>
</body>
<script src="coteClient.js"></script>
</html>